body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: slateblue;
    font-family: cursive;
}

.clandar-container{
    background-color: white;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,.4);
    text-align: center;
    overflow: hidden;
}

.month-name{
    margin: 0;
    background-color: orangered;
    font-size: 32px;
    font-weight: bold;
    padding: 12px 0;
    color: white;
}

.day-name{
    font-size: 20px;   
    color: gray;
}

.day-number{
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    color: rgb(0, 0, 0);
}

.year{
    font-size: 24px;
    color: rgb(34, 34, 34);
    margin: 20px 0;
}
